body{
    background-color: #efefef;
}

.main{
    margin: 30px;
    background-color:white;
}

.publish-btn{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 45px;
    height: 45px;
}
.head-sculpture{
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: 20px;
}
.text-desc{
    font-size: 13px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color: #999;
}
.jumbotron{
    margin: 50px;
}
.media-body{
    padding-top: 20px;
}

.comment{
    margin:10px 0;
}
.comment-media{
    padding-top: 5px;
}
.comment-content{
    font-size: 15px;
}
.menu{
    color: #999;
    margin-top: 5px;
}
.menu .icon{
    margin-right:6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .icon:hover{
    color: #499ef3;
}