<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布-蛇皮社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/js/community.js"></script>
</head>
<body>
    <!-- 头部开始 -->
    <div th:replace="navigation :: nav"></div>
    <!-- 头部结束 -->
    <!-- 中间部分开始，使用流动布局，各元素能根据网页大小改变布局 -->
    <div class="container-fluid main">
        <div class="row">
            <!-- 左边部分开始 -->
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
                <hr/>
                <form action="/publish" method="post">
                    <input type="hidden" name="id" th:value="${id}">
                    <div class="form-group">
                        <label for="title">问题标题（简单扼要）</label>
                        <input type="text" class="form-control" id="title" th:value="${title}" name="title" placeholder="问题标题...">
                    </div>
                    <div class="form-group">
                        <label for="description">问题补充</label>
                        <textarea name="description" id="description" th:text="${description}" class="form-control" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tag">添加标签</label>
                        <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}" placeholder="添加标签" onclick="showSelectTag()">
                    </div>
                    <div id="selectTag" style="display: none">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">开发语言</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">平台框架</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <span class="label label-info question-tag">
                                    <span class="glyphicon glyphicon-tags"></span>
                                    <span class="label label-info tag-size" onclick="SelectTag('Java')">Java</span>
                                </span>
                                <span class="label label-info question-tag">
                                    <span class="glyphicon glyphicon-tags"></span>
                                    <span class="label label-info tag-size" onclick="SelectTag('C')">C</span>
                                </span>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <span class="label label-info question-tag">
                                    <span class="glyphicon glyphicon-tags"></span>
                                    <span class="label label-info tag-size" onclick="SelectTag('Spring')">Spring</span>
                                </span>
                                <span class="label label-info question-tag">
                                    <span class="glyphicon glyphicon-tags"></span>
                                    <span class="label label-info tag-size" onclick="SelectTag('SpringBoot')">Spring Boot</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <span class="alert alert-danger" th:if="${error}!=null" th:text="${error}"></span>

                    <button type="submit" class="btn btn-success publish-btn">发布</button>
                </form>
            </div>
            <!-- 左边部分结束 -->
            <!-- 右边部分开始 -->
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>问题发起指南</h3>
                1 <br>
                2 <br>
                3 <br>
                4
            </div>
            <!-- 右边部分结束 -->
        </div>
    </div>
    <!-- 中间部分结束 -->
</body>
</html>